.service-card {
  height: 204px !important;
  width: 309px !important;
  position: relative;
  overflow: hidden;
}

.service-card-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: left 0.4s ease-in, width 0.4s ease-in,
    -webkit-transform 0.2s ease-in;
  transition: left 0.4s ease-in, width 0.4s ease-in,
    -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, left 0.4s ease-in, width 0.4s ease-in;
  transition: transform 0.2s ease-in, left 0.4s ease-in, width 0.4s ease-in;
  transition: transform 0.2s ease-in, left 0.4s ease-in, width 0.4s ease-in,
    -webkit-transform 0.2s ease-in;
  will-change: transfrom;
}

.vector {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45.432px;
  height: 37.171px;
  margin-bottom: 25px;
  margin-left: 31px;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  will-change: transform;
}

/* Variant 1 */

.variant-1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(231, 19, 57, 0.6);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease-in, visibility 0.4s ease-in;
  -o-transition: opacity 0.3s ease-in, visibility 0.4s ease-in;
  transition: opacity 0.3s ease-in, visibility 0.4s ease-in;
}

.b-card-title {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 31px;
}

/* Variant 2 */

.variant-2 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 182px;
  background: #002f74;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in, visibility 0.4s ease-in;
  -o-transition: opacity 0.3s ease-in, visibility 0.4s ease-in;
  transition: opacity 0.3s ease-in, visibility 0.4s ease-in;
}

.b-card-text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-right: 3px;
}

/* Hover */

.service-card:hover .vector {
  width: 29.625px;
  height: 24.239px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-bottom: 15px;
  margin-left: 10px;
}

.service-card:hover .variant-1 {
  opacity: 0;
  visibility: hidden;
}

.service-card:hover .variant-2 {
  opacity: 1;
  visibility: visible;
}

.service-card:hover .service-card-img {
  left: 182px;
  width: 126px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
