/* Carousel Caption */

.carousel-caption {
  top: 15%;
  right: 0;
  left: 0;
  font-family: "Roboto", sans-serif;
}

.carousel-caption-shape {
  height: 196px;
  width: 45px;
  border-left: white 6px solid;
  border-top: white 6px solid;
  border-bottom: white 6px solid;
}

.carousel-caption-text h5 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.carousel-caption-text p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.btn-iletişim {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #fff;
  background: rgba(204, 204, 204, 0.5);
  backdrop-filter: blur(2px);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transition: transform 0.3s ease, background 0.3s;
  will-change: transform;
}

.btn-iletişim-container:hover .btn-iletişim {
  background-color: #062d94;
  transform: translateY(-10px);
}

/* Carousel Indicators */

.carousel-indicators {
  justify-content: flex-start !important;
  margin-bottom: 48px !important;
}

.carousel-indicators [data-bs-target] {
  height: 62px !important;
  width: 62px !important;
  border-radius: 100%;
  position: relative;
  background-color: #f1f1f100 !important;
  border: none !important;
}

.carousel-indicators [data-bs-target]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 100%;
}

.carousel-indicators .active {
  border: 2px solid white !important;
}

.carousel-indicators [data-bs-target]:hover {
  opacity: 1;
}

/* Carousel Controls */
.carousel-control-prev,
.carousel-control-next {
  top: 50% !important;
  bottom: 50% !important;
  opacity: 1 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  transition: transform 0.4s ease-in-out;
}

.carousel-control-prev:hover .carousel-control-prev-icon {
  transform: translateX(-8px);
}

.carousel-control-next:hover .carousel-control-next-icon {
  transform: translateX(8px);
}

@media (max-width: 992px) {
  .carousel-caption {
    top: 5%;
  }

  .carousel-caption-shape {
    height: 100px;
    width: 25px;
    border-left: white 6px solid;
    border-top: white 6px solid;
    border-bottom: white 6px solid;
  }

  .carousel-caption-text h5 {
    font-size: 24px;
  }

  .carousel-caption-text p {
    font-size: 16px;
  }

  .carousel-indicators {
    margin-bottom: 12px !important;
  }

  .carousel-indicators [data-bs-target] {
    height: 32px !important;
    width: 32px !important;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    top: 0%;
  }

  .carousel-caption-shape {
    display: none;
  }

  .carousel-caption-text h5 {
    font-size: 16px;
  }

  .carousel-caption-text p {
    font-size: 14px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    transform: scale(0.5);
  }

  .btn-iletişim {
    width: 140px;
    height: 30px;
    font-size: 16px;
    font-weight: 400;
  }

  .carousel-indicators [data-bs-target] {
    margin-bottom: -8px !important;
    height: 24px !important;
    width: 24px !important;
  }
}
